# =======================================================================
# .ENV Dosyası - Veritabanı Ayarları
# =======================================================================
VERITABANI_HOST=
VERITABANI_PORT=
VERITABANI_KULLANICI=
VERITABANI_SIFRE=
VERITABANI_AD=

# ==============================================
# .ENV Dosyası - Şifreleme Ayarları
# ==============================================
ANAHTAR=
SIFRELEME_YONTEMI=
JSON_OPTIONS=

# ==============================================
# .ENV Dosyası - Diğer Ayarlar
# ==============================================
